.postlist {
  display: flex;
  flex-direction: column;
  border: solid green;
  width: 65%;
  padding: 10px;
}

.postlist span {
  margin-top: 10px;
  width: 100%;
}

.postlist span input {
  width: 100%;
}

.postlist nav  {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 30px;
}

.middle {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: .5px solid rgb(195, 195, 195);
  border-radius: 5px;
  width: 300px;
}

.postlist nav button, .postlist nav select {
  border-radius: 5px;
}

.postlist nav select, .newest {
  background-color: rgb(235, 235, 235);
  border-top: .5px solid rgb(195, 195, 195);
  border-bottom: .5px solid rgb(195, 195, 195);
}

.middle button {
  border: none;
  background: transparent;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.middle p {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  border-left: .5px solid rgb(195, 195, 195);
  padding-left: 5px;
  border-right: .5px solid rgb(195, 195, 195);
  padding-right: 5px;
}

.middle .prev {
  border-left: .5px solid rgb(195, 195, 195);
  padding-left: 5px;
  border-radius: 0px;
}

.postlist main {
  display: flex;
  flex-direction: column;
}

.linktopost {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linktopost p {
  padding: 5px;
}

.linktopost button {
  height: 20px;
  border: none;
}

.linktopost p:nth-child(2) {
  color: rgb(195, 195, 195);
  font-size: 12px;
}

.linktopost p:nth-child(3) {
  color: black;
  font-size: 14px;
  border: .25 solid black;
  border-radius: 15px;
}

.linktopost p:nth-child(4) {
  color: blue;
  font-size: 16px;
}

.linktopost p:nth-child(5) {
  color: black;
  font-size: 14px;
}

.linktopost p:nth-child(6) {
  color: yellow;
  font-size: 14px;
}

.createpostpage {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.createpostpage header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(235, 235, 235);
  border-top: .5px solid rgb(195, 195, 195);
  border-bottom: .5px solid rgb(195, 195, 195);
  width: 100%;
}

.createpostpage header aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 30px;
  margin-top: 10px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.createpostpage main {
  margin: auto;
  /* margin-top: 100px;
  margin-left: 50px; */
}

.newpost {
  display: flex;
  flex-direction:column;
  width: 900px;
}

.newpost section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}

.newpost section span {
  display: flex;
  flex-direction: column;
}

#one {
  justify-content: flex-start;
}

#one span input {
  width: 292px;
  margin-right: 10px;
}

#descrip {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
}

#contactinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contactinfo label {
  padding-right: 5px;
}

#radios {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#radios span {
  display: flex;
  flex-direction: row;
}

#contactinfo span #radios span label {
  padding-left: 10px;
}

#phone-text {
  width: 60%;
}

#checkboxes {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
}

#checkboxes p {
  position: absolute;
  top: -36px;
  left: 20px;
}

#checkboxes span {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px
}

#checkboxes span input {
  margin-right: 10px
}

#fields, #locfields {
  display: flex;
  flex-direction: row;
}

#fields span {
  display: flex;
  flex-direction: column;
  margin-left: 20px
}

#fields span input{
  width: 140px;
}

#location {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

#location span {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#location #locfields span {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

#location #locfields span input {
  width: 250px;
}

#lastline {
  justify-content: flex-start;
}

#lastline label{
  margin-left: 7px;
}

.createpostpage main form button {
  width: 200px;
  margin-top: 50px;
  margin-left: 700px;
}



























